*, *::before, *::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Manrope', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.nav{
	background-color: #5855EE;
	border-radius: 30px;
}
.nav > .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}
.nav__title{
	color: white;
	font-size: 30px;
	margin-bottom: 60px;
}
.nav__list{
	display: flex;
	margin: 0 auto;
}
.nav__item{
	margin: 20px;
	color: white;
	margin-bottom: 70px;
}
.nav__link{
	border: 1px solid white;
	padding: 10px 15px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 70px;
}
.future{
	background-color: #5855EE;
	height: 100vh;
	border-radius: 30px;
	transform: translateY(-80px);
}
.future > .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.future-title{
	margin: 80px auto;
	color: white;
	font-size: 50px;
	width: 600px;
	text-align: center;
	transform: translateY(40px);
}
.future-link{
	width: 180px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid white;
	padding: 10px 15px;
	background-color: white;
	
}
.future__photo{
	width: 50%;
	transform: translateY(90px);
}
.future__icon{
	position: absolute;
	right: -5%;
	top: 35%;
}
.future__icon2{
	position: absolute;
	left: -5%;
	top: 48%;
}

@media(max-width: 1200px){
	.container{
		max-width: 960px;
	}
}
.section > .container{
	margin-top: 350px;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
.section__image{
	position: relative;
	width: 45%;
}
.section__content{
	width: 45%;
	margin-top: 130px;
}
.section__content-title{
	font-size: 40px;
	width: 380px;
	margin-bottom: 30px;
}
.section__content-text{
	line-height: 1.8;
}
.user{
	display: flex;
	transform: translateX(-30px);
}
.photo_2{
	transform: translateY(-30px) translateX(-37px);
	/*margin-right: 50px;*/
	width: 630px;
}
.main{
	margin-bottom: 130px;
}
.main__list{
	display: flex;
	margin: 15px;
	justify-content: space-between;
}
.main__item{
	width: 350px;
	height: 450px;
	background-color: #FFF7ED;
	border-radius: 10px;
}
.item2{
	background-color: #F2F3FF;
}
.item3{
	background-color: #FFF0F3;
}
.design{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:70px;
	width: 200px;
	height: 200px;
	background-color: #FFE0C2;
	border-radius: 50%;
}
.design-image{
	margin: 50px;
	transform: translateX(10px);
}
.market{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:70px;
	width: 200px;
	height: 200px;
	background-color: #D0D4FF;
	border-radius: 50%;
}
.market-image{
	margin: 50px;
	transform: translateX(10px);	
}
.web{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:70px;
	width: 200px;
	height: 200px;
	background-color: #Fcacf2;;
	border-radius: 50%;
}
.web-image{
	margin: 50px;
}
.design__title{
	text-align: center;
	transform: translateY(-30px);
	font-weight: bold;
}
.design__text{
	transform: translateY(-10px);
	text-align: center;
	width: 250px;
	margin: 0 auto;
}
.makin__main > .container{
	display: flex;
	align-items: center;
}
.makin__main{
	width: 100%;
	height: 500px;
	background-color: #5855EE;
	border-radius: 30px;
}
.making__image{
	width: 45%;
	transform: translateY(60px);
}
.making__title{
	font-size: 50px;
	color: white;
	margin-left: 100px;
	/*transform: translateY(50px);*/
}
span{
	display: block;
}
.making__link{
	border: 1px solid white;
	padding: 10px 15px;
	background-color: white;
	margin-left: 725px;
}
.vector{
	margin-top: 100px;
}
.vector > .container{
	display: flex;
	justify-content: center;
}
.vector__image{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.gro{
	margin-top: 100px;
}

.gro .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gro-content{
    width: 45%;
}
.client-image{
    position: relative;
    width: 43%;
}
.profile-user{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.client-image__content{
    position: absolute;
    top: 15%;
    left: 5%;
}
.client-image__box{
    width: 50px;

}
.shamim{
    margin: 10px;
}
.shamim-profile{
    width: 90%;
}
.client-image__box{
    width: 100%;
}
.button{
    background-color: white;
    border: none;
    margin: 30px 10px;

}
.ways{
    width: 40px;
    height: 40px;
}
.business__link{
    text-decoration: none;
    color: #5855EE;
}
.business__title{
    font-size: 60px;
}